{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>模型上传</title>
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'css/site.css' %} " rel="stylesheet">
    <link href="{% static 'css/bootstrap-responsive.css' %}" rel="stylesheet">
</head>

<body>
<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container-fluid">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="brand" href="">管理</a>
            <div class="btn-group pull-right">
                <a class="btn" href=""><i class="icon-user"></i> 管理</a>
                <a class="btn dropdown-toggle" data-toggle="dropdown" href="">
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="">简介</a></li>
                    <li class="divider"></li>
                    <li><a href="">退出</a></li>
                </ul>
            </div>
            <div class="nav-collapse">
                <ul class="nav">
                    <li><a href="/House_design/index">首页</a></li>
                    <li class="dropdown"><a href="" class="dropdown-toggle" data-toggle="dropdown">用户 <b
                            class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="/House_design/index">管理用户</a></li>
                            <li class="divider"></li>
                            <li><a href="/House_design/new_user">新用户</a></li>
                        </ul>
                    </li>
                    <li class="dropdown"><a href="" class="dropdown-toggle" data-toggle="dropdown">模型 <b
                            class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="/House_design/model_manage">管理模型</a></li>
                            <li class="divider"></li>
                            <li><a href="/House_design/new_model">上传新模型</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row-fluid">
        <div class="span3">
            <div class="well sidebar-nav">
                <ul class="nav nav-list">
                    <li class="nav-header"><i class="icon-wrench"></i> 用户管理</li>
                    <li class="活跃"><a href="/House_design/index">用户</a></li>
                    <li><a href="/House_design/new_user">新用户</a></li>
                    <li class="nav-header"><i class="icon-signal"></i> 模型管理</li>
                    <li><a href="/House_design/model_manage">模型</a></li>
                    <li><a href="/House_design/new_model">上传新模型</a></li>
                </ul>
            </div>
        </div>
        <div class="span9">
            <div class="row-fluid">
                <div class="page-header">
                    <h1>New User
                        <small>User registration</small>
                    </h1>
                </div>
                <form class="form-horizontal">
                    <fieldset>
                        <div class="control-group">
                            <label class="control-label" for="role">类型</label>
                            <div class="controls">
                                <select id="role">
                                    <option value="admin" selected>桌子</option>
                                    <option value="admin">沙发</option>
                                    <option value="admin">书架</option>
                                    <option value="admin">衣橱</option>
                                    <option value="admin">电视柜</option>
                                    <option value="mod">椅子</option>
                                    <option value="user">灯具</option>
                                </select>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="role">放置房间</label>
                            <div class="controls">
                                <select id="role">
                                    <option value="user" selected>客厅</option>
                                    <option value="mod">书房</option>
                                    <option value="user">厨房</option>
                                    <option value="user">卧室</option>
                                    <option value="user">卫生间</option>
                                    <option value="admin">阳台</option>
                                </select>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="front_view">上传正视图</label>
                            <div class="controls">
                                <input type="file" id="front_view" name="front_view">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="side_view">上传侧视图</label>
                            <div class="controls">
                                <input type="file" id="side_view" name="side_view">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="js_file">上传js文件</label>
                            <div class="controls">
                                <input type="file" id="js_file" name="js_file">
                            </div>
                        </div>
                        <div class="form-actions">
                            <input type="submit" class="btn btn-success btn-large" value="上传模型"/>
                            <a class="btn" href="/House_design/index/">取消</a>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>

    <hr>

    <footer class="well">
        &copy; Admin
    </footer>

</div>


<script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script>
    $(document).ready(function () {
        $('.dropdown-menu li a').hover(
            function () {
                $(this).children('i').addClass('icon-white');
            },
            function () {
                $(this).children('i').removeClass('icon-white');
            });

        if ($(window).width() > 760) {
            $('tr.list-users td div ul').addClass('pull-right');
        }
    });
</script>


</body>
</html>