<!---<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.21/dist/vue.js"></script>
</head>

<body>
    <div id="app">
        {{ message }}
    </div>
    <div id="app-2">
        <span v-bind:title="message">
            鼠标悬停几秒钟查看此处动态绑定的提示信息！
        </span>
    </div>
    <div id="app-3">
        <p v-if="seen">现在你看到我了</p>
    </div>
    <div id="app-5">
        <p>{{ message }}</p>
        <button v-on:click="reverseMessage">逆转消息</button>
    </div>
    <div id="app-4">
        <ol>
          <li v-for="a in todos">
            {{ a.text }}
          </li>
        </ol>
      </div>
    <script src="index.js"></script>
    
</body>

</html>
-->
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Vue图片提交</title>
</head>
<body>
<div id="app"></div>
<form>
    <li>
        <label for="家具分类">家具分类:</label>
        <input type="text"  placeholder="如：桌子" required />
    </li>
    <li>
        <label for="所在地点">所在地点:</label>
        <input type="text"  placeholder="如：厨房" required />
    </li>
    <li>
        <input type="checkbox" name="typeList" id="pin">
        <label for="pin">测试完成</label>
    </li>
    <li>
        <input type="checkbox" name="typeList" id="pin">
        <label for="pin">有待测试</label>
    </li>
    <button onclick=jump()>提交</button>
</form>
<script src="../static/js/build.js"></script>
<script>
    function jump(){
        alert("提交成功！");
    }
</script>
</body>
</html>