{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>用户编辑</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'css/site.css' %} " rel="stylesheet">
    <link href="{% static 'css/bootstrap-responsive.css' %}" rel="stylesheet">
</head>
<body>
<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container-fluid">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="brand" href="">管理</a>
            <div class="btn-group pull-right">
                <a class="btn" href=""><i class="icon-user"></i> 管理</a>
                <a class="btn dropdown-toggle" data-toggle="dropdown" href="">
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="">简介</a></li>
                    <li class="divider"></li>
                    <li><a href="">退出</a></li>
                </ul>
            </div>
            <div class="nav-collapse">
                <ul class="nav">
                    <li><a href="/House_design/index">首页</a></li>
                    <li class="dropdown"><a href="" class="dropdown-toggle" data-toggle="dropdown">用户 <b
                            class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="/House_design/index">管理用户</a></li>
                            <li class="divider"></li>
                            <li><a href="/House_design/new_user">新用户</a></li>
                        </ul>
                    </li>
                    <li class="dropdown"><a href="" class="dropdown-toggle" data-toggle="dropdown">模型 <b
                            class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="/House_design/model_manage">管理模型</a></li>
                            <li class="divider"></li>
                            <li><a href="/House_design/new_model">上传新模型</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row-fluid">
        <div class="span3">
            <div class="well sidebar-nav">
                <ul class="nav nav-list">
                    <li class="nav-header"><i class="icon-wrench"></i> 用户管理</li>
                    <li class="活跃"><a href="/House_design/index">用户</a></li>
                    <li><a href="/House_design/new_user">新用户</a></li>
                    <li class="nav-header"><i class="icon-signal"></i> 模型管理</li>
                    <li><a href="/House_design/model_manage">模型</a></li>
                    <li><a href="/House_design/new_model">上传新模型</a></li>
                </ul>
            </div>
        </div>
        <div class="span9">
            <div class="row-fluid">
                <div class="row-fluid">
                    <div class="page-header">
                        <h1>管理员
                            <small>用户编辑</small>
                        </h1>
                    </div>
                    <form class="form-horizontal" action="/House_design/user_edit/{{ user.id }}/" method="post">
                        <fieldset>
                            <div class="control-group">
                                <label class="control-label" for="name">用户名</label>
                                <div class="controls">
                                    <input type="text" class="input-xlarge" id="name" name="name"
                                           readonly="readonly" value='{{ user.name }}'/>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="password">密码</label>
                                <div class="controls">
                                    <input type="password" class="input-xlarge" id="password" name="password"/>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="email">邮箱</label>
                                <div class="controls">
                                    <input type="text" class="input-xlarge" id="email" name="email"
                                           value='{{ user.email }}'/>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="role">权限</label>
                                <div class="controls">
                                    <select id="role" name="role">
                                        <option value="admin">admin</option>
                                        <option value="user">user</option>
                                    </select>
                                </div>
                            </div>
                            <p style="color:red">{{ error }}</p><br>
                            <div class="form-actions">
                                <input type="submit" class="btn btn-success btn-large" value="保存该用户"/> <a
                                    class="btn" href="/House_design/index/">取消</a>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<hr>

<footer class="well">
    &copy; Admin
</footer>


<script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script>
    $(document).ready(function () {
        $('.dropdown-menu li a').hover(
            function () {
                $(this).children('i').addClass('icon-white');
            },
            function () {
                $(this).children('i').removeClass('icon-white');
            });

        if ($(window).width() > 760) {
            $('tr.list-users td div ul').addClass('pull-right');
        }
    });
</script>


</body>
</html>